* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #c2d9d1;
    font-family: cursive;
}

.accordion {
    width: 800px;
}

.accordion h2 {
    text-align: center;
}

.accordion .content-box {
    position: relative;
    margin: 10px 20px;
}

.accordion .label {
    position: relative;
    padding: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.accordion .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 1.5rem;
    transform: translateY(-50%);
}

.accordion .content-box.active .label::before {
    content: "-";
}

.accordion .content {
    position: relative;
    padding: 0;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.accordion .content-box.active .content {
    height: auto;
    padding: 10px;
} 